<!doctype html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>College House</title>
</head>
<header>
    <div class="nav">
        <ul>
            <li><a>Rent</a></li>
            <li><a>Buy</a></li>
            <li><a>See All</a></li>
            <li><a id ="button">Log in/Sign up</a></li>
        </ul>
        <input type="text" placeholder="Country, city, zip code... ">
        <a id="search">Buscar</a>
        <br>
        <button class="map-button">Find listings near me</button>
    </div>
</header>
<body>  
    <div class="pueblo-listing">
        <ul>
            <li>Adjuntas</li>
            <li>Aguada</li>
            <li>Aguadilla</li>
            <li>Aguas Buenas</li>
            <li>Aibonito</li>
            <li>Añasco</li>
            <li>Arecibo</li>
            <li>Arroyo</li>
            <li>Barceloneta</li>
            <li>Barranquitas</li>
            <li>Bayamón</li>
            <li>Cabo Rojo</li>
            <li>Caguas</li>
            <li>Camuy</li>
            <li>Canóvanas</li>
            <li>Carolina</li>
            <li>Cataño</li>
            <li>Cayey</li>
            <li>Ceiba</li>
            <li>Ciales</li>
            <li>Cidra</li>
            <li>Coamo</li>
            <li>Comerío</li>
            <li>Corozal</li>
            <li>Culebra</li>
            <li>Dorado</li>
            <li>Fajardo</li>
            <li>Guánica</li>
            <li>Guayama</li>
            <li>Guaynabo</li>
            <li>Gurabo</li>
            <li>Hatillo</li>
            <li>Hormigueros</li>
            <li>Humacao</li>
            <li>Isabela</li>
            <li>Jayuya</li>
            <li>Juana Díaz</li>
            <li>Juncos</li>
            <li>Lajas</li>
            <li>Lares</li>
            <li>Las Marías</li>
            <li>Las Piedras</li>
            <li>Loíza</li>
            <li>Luquillo</li>
            <li>Manatí</li>
            <li>Maricao</li>
            <li>Maunabo</li>
            <li>Mayagüez</li>
            <li>Moca</li>
            <li>Morovis</li>
            <li>Naguabo</li>
            <li>Naranjito</li>
            <li>Orocovis</li>
            <li>Patillas</li>
            <li>Peñuelas</li>
            <li>Ponce</li>
            <li>Quebradillas</li>
            <li>Rincón</li>
            <li>Río Grande</li>
            <li>Sabana Grande</li>
            <li>Salinas</li>
            <li>San Germán</li>
            <li>San Juan</li>
            <li>San Lorenzo</li>
            <li>San Sebastián</li>
            <li>Santa Isabel</li>
            <li>Toa Baja</li>
            <li>Toa Alta</li>
            <li>Trujillo Alto</li>
            <li>Utuado</li>
            <li>Vega Alta</li>
            <li>Vega Baja</li>
            <li>Vieques</li>
            <li>Villalba</li>
            <li>Yabucoa</li>
        </ul>
    </div>
    <div>

    </div>
</body>
</html>